
@{
    ViewData["Title"] = "About";
}

<h1>The wish of have it is almost criminal</h1>

<div class="text-center">
    <h1 class="display-4">A fake e-commerce that sell everything.</h1>
    <p>The idea is simulate a real e-commerce for the class of Internet Programing without the logistics and the payment process. The e-commerce going to have a list of fake products of several categories, that can be filter per name and categories (maybe brand too). Our client will be able to create a account, login and handle with a shopping cart.</p>
</div>